.nav-justified .nav-item,
.nav-justified > .nav-link {
  height: 55px;
}
.step-arrow-nav .nav .nav-link {
  height: 55px;
}
.avatar-lg {
  height: 10rem;
  width: 10rem;
}
.dropzone {
  min-height: 100px;
}

.search {
  position: relative;
}


.search input:focus {
  box-shadow: none;
  border: 2px solid rgb(219, 219, 226);
}

.search .fa-search {
  position: absolute;
  top: 17px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 1.75rem;
  width: 40px;
}
