.nav-justified .nav-item, .nav-justified>.nav-link{
  height: 55px;
}
.step-arrow-nav .nav .nav-link{
  height: 55px;
}
.avatar-lg{
  height: 10rem;
  width: 10rem;
}
.dropzone{
  min-height: 100px;
}